extends admin-layout

block content
	.hero-unit
		h1 Chronos - dashboard
		p Hit the red button to set the BPM!
		.row
			.span2
				a.btn.btn-success#bpm-tap(href='#') Tap
			.span3
				.input-append
					input#bpm-input(type='text', data-href='/bpm', value=loopStats().bpm)
					span.add-on bpm
	.row-fluid
		.span3
			h2 Settings
		.span9
			#viewport.iphone
				iframe#displayframe(height='480', width='320', src='/')
